.container{
    text-align: left;
    font-size: 18px;
    form{
        width: 320px;
    }
    input, select, textarea{
        width: 100%;
        border: 1px solid gray;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    input[type="submit"]{
        width: 200px;
        background-color: #b9eac0;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }
   
}

.comments{
    
    .comments-item {        
        padding: 40px;
        margin-bottom: 20px;
        h2{
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        p{
            text-align: left;
            margin-bottom: 10px;
            span{
                font-style: italic;
            }
        }
    }
}